<h1>Editing client</h1>

<%= error_messages_for :client %>

<% form_for(@client) do |f| %>
  <p>
    <b>Name</b> *<br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Comment</b><br />
    <%= f.text_field :comment %>
  </p>

  <p>
    <b>Category</b><br />
	 <%= f.select :category_id, @categories.collect { |p| [p.name, p.id] } %>
  </p>

 <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
