<div id="menu">
	<div><%= link_to '', {:controller => 'accueil'}, :id => 'menulink_avantprojet' %></div>
	<div><%= link_to '', {:controller => 'agence'}, :id => 'menulink_agence' %></div>
	<div><%= link_to '', {:controller => 'equipe'}, :id => 'menulink_equipe' %></div>
	<div><%= link_to '', {:controller => 'references'}, :id => 'menulink_references' %></div>
	<div><%= link_to '', {:controller => 'clients'}, :id => 'menulink_clients' %></div>
	<div><%= link_to '', {:controller => 'publications'}, :id => 'menulink_publications' %></div>
</div>
